<div class="w3-container w3-padding-32"> <%# Consistent page padding %>
  <div class="w3-card-4 w3-round-large" style="max-width:500px; margin:auto;">

    <header class="w3-container w3-center w3-black w3-padding-large w3-round-top-large">
      <h1 class="w3-xxlarge">Log In</h1>
    </header>

    <%= form_tag :login, class: "w3-container w3-padding-24" do %>
      <% if flash.alert %>
        <div class="w3-panel w3-pale-red w3-leftbar w3-border-red w3-padding w3-margin-bottom w3-round">
          <p><%= flash.alert %></p>
        </div>
      <% end %>

      <p>
        <%= label_tag :email, nil, class: "w3-text-grey" %>
        <%= text_field_tag :email, params[:email], class: "w3-input w3-border w3-round", autofocus: true, required: true %>
      </p>

      <p>
        <%= label_tag :password, nil, class: "w3-text-grey" %>
        <%= password_field_tag :password, nil, class: "w3-input w3-border w3-round", required: true %>
      </p>

      <p class="w3-center">
        <%= submit_tag "Log In", class: "w3-button w3-black w3-round-large w3-hover-dark-grey w3-padding-large w3-margin-top" %>
      </p>

    <!--
      <div class="w3-center w3-margin-top w3-padding-top-16 w3-border-top">
        <p class="w3-text-grey">Or log in with:</p>
        <%= link_to '/auth/google_oauth2', class: "w3-button w3-blue w3-round w3-hover-light-blue" do %>
          <i class="fa fa-google"></i> Google
        <% end %>
      </div>
    -->
    <% end %>

  </div>
</div>
