<%= form_for @pet, html: { class: "w3-container" } do |f| %>
  <% if @pet.errors.any? %>
    <div class="w3-panel w3-red w3-padding w3-margin-bottom w3-round">
      <span onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-large w3-display-topright w3-round">&times;</span>
      <h3><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h3>
      <ul class="w3-ul">
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :owner_id, 'Owner', class: "w3-text-grey" %>
    <%= f.collection_select :owner_id, Owner.all.order(:fname, :lname), :id, :name, { include_blank: 'Select Owner (optional)' }, { class: "w3-select w3-border w3-round" } %>
  </p>

  <p>
    <%= f.label :name, "Name", class: "w3-text-grey" %>
    <%= f.text_field :name, class: "w3-input w3-border w3-round", required: true %>
  </p>

  <p>
    <%= f.label :breed, "Breed", class: "w3-text-grey" %>
    <%= f.text_field :breed, class: "w3-input w3-border w3-round" %>
  </p>

  <p>
    <%= f.label :gender, 'Gender', class: "w3-text-grey" %>
    <%= f.select :gender, ['Male', 'Female', 'Unknown'], { include_blank: 'Select Gender' }, { class: "w3-select w3-border w3-round" } %>
  </p>

  <p>
    <%= f.label :birthday, "Birthday", class: "w3-text-grey" %>
    <div class="custom-date-select-container">
      <%= f.date_select :birthday, { order: [:month, :day, :year], start_year: Date.current.year - 30, end_year: Date.current.year, prompt: { day: 'Day', month: 'Month', year: 'Year' } }, { class: "w3-select w3-border w3-round", style: "margin-right: 5px;" } %>
    </div>
  </p>

  <p>
    <%= f.label :temperament, "Temperament", class: "w3-text-grey" %>
    <%= f.text_area :temperament, class: "w3-input w3-border w3-round", rows: 3 %>
  </p>

  <p>
    <%= f.label :notes, "Notes", class: "w3-text-grey" %>
    <%= f.text_area :notes, class: "w3-input w3-border w3-round", rows: 4 %>
  </p>

  <p>
    <%= f.label :appearance, "Appearance", class: "w3-text-grey" %>
    <%= f.text_area :appearance, class: "w3-input w3-border w3-round", rows: 3 %>
  </p>

  <p>
    <%= f.label :image, "Image", class: "w3-text-grey" %>
    <%= f.file_field :image, class: "w3-input w3-border w3-round" %>
  </p>

  <p class="w3-center w3-padding-16">
    <%= f.submit (@pet.new_record? ? "Create Pet" : "Update Pet"), class: "w3-button w3-black w3-round-large w3-hover-dark-grey w3-padding-large" %>
  </p>
<% end %>
