<% if @pet.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

    <ul>
    <% @pet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @pet do |f| %>
<table class="form w3-table w3-bordered">

  <tr>
    <th colspan="2"><h1>New Pet</h1></th>
  </tr>

<tr>
  <td><%= f.label :owner_id, 'Owner' %></td>
  <td><%= collection_select :pet, :owner_id, Owner.all, :id, :name, {include_blank: true} %></td>
</tr>

<tr>
  <td><%= f.label :name, "Name" %></td>
  <td><%= f.text_field :name %></td>
</tr>

<tr>
  <td><%= f.label :breed, "Breed" %></td>
  <td><%= f.text_field :breed %></td>
</tr>

<tr>
  <td><%= f.label :gender, 'Gender' %></td>
  <td><%= select_tag 'pet[gender]', options_for_select(['male', 'female']), include_blank: true %></td>
</tr>

<tr>
  <td><%= f.label :birthday, "Birthday" %></td>
  <td><%= f.date_select :birthday %></td>
</tr>

<tr>
  <td><%= f.label :temperament, "Temperament" %></td>
  <td><%= f.text_area :temperament %></td>
</tr>

<tr>
  <td><%= f.label :notes, "Notes" %></td>
  <td><%= f.text_area :notes %></td>
</tr>

<tr>
  <td><%= f.label :appearance, "Appearance" %></td>
  <td><%= f.text_area :appearance %></td>
</tr>

<tr>
  <td></td><td><%= f.submit %></td>
</tr>

</table>
<% end %>
