<table class="show pet w3-table w3-bordered">

  <tr>
    <th colspan="2"><h1><%= @pet.name %></h1></th>
  </tr>

  <tr>
    <td>Breed:</td><td><%= @pet.breed %></td>
  </tr>

  <tr>
    <td>birthday</td><td><%= @pet.birthday %></td>
  </tr>

  <tr>
    <td>Notes:</td><td><%= @pet.notes %></td>
  </tr>

  <tr>
    <td>Appearance:</td><td><%= @pet.appearance %></td>
  </tr>

  <tr>
    <td><%= edit_button(@pet) %></td>
  </tr>

</table>
