<% if @owner %>
  <%= render 'owners/show' %>
<% end %>

<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2"><h1>Pets</h1></th>
  </tr>

  <tr>
    <% if @owner %>
      <th colspan="2"><%= link_to "Create New Pet for #{@owner.fname}", new_owner_pet_path(@owner), class: 'w3-button w3-card w3-light-green' %></th>
    <% else %>
      <th colspan="2"><%= link_to 'Create New Pet', new_pet_path %></th>
    <% end %>
  </tr>

  <tr>
    <th>Name</th>
    <th>Breed</th>
  </tr>

  <% @pets.each do |pet| %>

  <tr>
    <td><%= link_to pet.name_with_owner, pet_path(pet) %></td>
    <td><%= pet.breed %></td>
  </tr>

  <% end %>
</table>
