<% if current_user.admin?%>
  <div class="w3-container w3-section">
    <div class="w3-card-4 w3-round-large">
      <header class="w3-container w3-black w3-padding w3-round-top-large">
        <h1 class="w3-xlarge">Manage Access</h1>
      </header>
    </div>
  </div>
<% end %>

<div class="w3-container w3-section">
  <div class="w3-card-4 w3-round-large">
    <header class="w3-container w3-black w3-padding w3-round-top-large">
      <div class="w3-row">
        <div class="w3-col m8 l9">
          <h1 class="w3-xlarge" style="margin-top:10px; margin-bottom:10px;">Users</h1>
        </div>
        <div class="w3-col m4 l3 w3-right-align">
          <%= link_to new_user_path, class: 'w3-button w3-green w3-round w3-small w3-hover-light-green w3-margin-top-small' do %>
            <i class="fa fa-plus"></i> New User
          <% end %>
        </div>
      </div>
    </header>

    <%# Add Search/Filter form here if needed in the future %>
    <%# Example: %>
    <%# <div class="w3-container w3-padding"> %>
    <%#   <%= form_with(url: users_path, method: :get, local: true, class: "w3-row-padding") do |form| %>
    <%#     <div class="w3-col m6"> %>
    <%#       <%= form.text_field :search, value: params[:search], placeholder: "Search by name or email...", class: "w3-input w3-border w3-round" %>
    <%#     </div> %>
    <%#     <div class="w3-col m3"> %>
    <%#       <%= form.submit "Search", class: "w3-button w3-black w3-round w3-block" %>
    <%#     </div> %>
    <%#   <% end %>
    <%# </div> %>

    <% if @users.present? %>
      <ul class="w3-ul w3-hoverable">
        <% @users.each do |user| %>
          <li class="w3-bar w3-padding">
            <%# Placeholder for user avatar/image %>
            <%# Example: <%= image_tag user.avatar_url, class: "w3-bar-item w3-circle w3-hide-small", style: "width:85px" if user.avatar_url.present? %>
            <div class="w3-bar-item">
              <span class="w3-large"><%= link_to user.name, user_path(user) %></span><br>
              <span>Role: <%= user.role %></span><br>
              <span>Email: <%= user.email %></span>
              <%# Add other details if needed, e.g., user.status %>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div class="w3-container w3-padding w3-center">
        <p>No users found.</p>
      </div>
    <% end %>

    <%# Add pagination links here if using a pagination gem like Kaminari or Pagy %>
    <%# Example: <div class="w3-center w3-padding"><%= paginate @users %> <!--</div> %>
  </div>
</div>
