<h1><%= @user.name %></h1>

<table>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td>Phone:</td>
    <td><%= @user.phone %></td>
  </tr>

  <tr>
    <td>Role:</td>
    <td><%= @user.role %></td>
  </tr>

  <tr>
    <td>Status:</td>
    <td><%= @user.status %></td>
  </tr>

  <tr>
    <td>Created On:</td>
    <td><%= @user.created_at %></td>
  </tr>

  <tr>
    <td></td><td><%= link_to 'Edit User', edit_user_path(@user) %></td>
  </tr>
</table>
