<table class="w3-table w3-bordered">
  <tr>
    <th colspan="2"><h1><%= @user.name %></h1></th>
  </tr>

  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <td>Phone:</td>
    <td><%= link_to @user.phone, "tel:#{@user.phone}" %></td>
  </tr>

  <tr>
    <td>Role:</td>
    <td><%= @user.role %></td>
  </tr>

  <tr>
    <td>Status:</td>
    <td><%= @user.status %></td>
  </tr>

  <tr>
    <td>Created On:</td>
    <td><%= @user.created_at %></td>
  </tr>

  <tr>
    <td><%= edit_button(@user) %></td>
  </tr>
</table>
