<%= render layout: 'devise/shared/w3_card_outer_wrapper', locals: { title: "Log in" } do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w3-container w3-padding-24" }) do |f| %>
    <%# Devise errors will be handled by devise/shared/error_messages or your global flash %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <p>
      <%= f.label :email, class: "w3-text-grey" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w3-input w3-border w3-round", required: true %>
    </p>

    <p>
      <%= f.label :password, class: "w3-text-grey" %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "w3-input w3-border w3-round", required: true %>
    </p>

    <% if devise_mapping.rememberable? %>
      <p class="w3-margin-top">
        <%= f.check_box :remember_me, class: "w3-check" %>
        <%= f.label :remember_me, class: "w3-text-grey" %>
      </p>
    <% end %>

    <p class="w3-center w3-margin-top">
      <%= f.submit "Log in", class: "w3-button w3-black w3-round-large w3-hover-dark-grey w3-padding-large" %>
    </p>
  <% end %>

  <div class="w3-container w3-center w3-padding-16">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
