<%= render layout: 'devise/shared/w3_card_outer_wrapper', locals: { title: "Log in" } do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "w3-container w3-padding-24" }) do |f| %>
    <%# Devise errors will be handled by devise/shared/error_messages or your global flash %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <p>
      <div style="margin-bottom: 4px;"><%= f.label :email, class: "w3-text-grey" %></div>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w3-input w3-border w3-round", required: true %>
    </p>

    <p>
      <div style="margin-bottom: 4px;"><%= f.label :password, class: "w3-text-grey" %></div>
      <div class="w3-bar w3-round" style="border: 1px solid #ccc;">
        <%= f.password_field :password, autocomplete: "current-password", class: "w3-bar-item w3-input", style: "width: calc(100% - 80px); border: none;", required: true %>
        <button type="button" class="w3-bar-item w3-button w3-border-left" style="width: 80px;" onclick="togglePasswordVisibility(this)">Show</button>
      </div>
    </p>

    <p class="w3-center w3-margin-top">
      <%= f.submit "Log in", class: "w3-button w3-black w3-round-large w3-hover-dark-grey w3-padding-large" %>
    </p>
  <% end %>

  <div class="w3-container w3-center w3-padding-16">
    <%= render "devise/shared/links" %>
  </div>

  <script>
    function togglePasswordVisibility(button) {
      var passwordField = button.previousElementSibling;
      if (passwordField.type === "password") {
        passwordField.type = "text";
        button.textContent = "Hide";
      } else {
        passwordField.type = "password";
        button.textContent = "Show";
      }
    }
  </script>
<% end %>
