<% if !@walks.empty? %>
<h1>Walks for <%= @walks.first.date.strftime('%a, %b %e') %> - <%= @walks.last.date.strftime('%a, %b %e') %></h1>


<table class="list w3-table">

  <tr>
    <td><%= link_to 'Add New Walk', new_walk_path %></td>
    <td><%= link_to 'View All Walks', '/walks/all' %></td>
  </tr>

  <tr>
    <th>Name</th><th>Pickup Window</th><th>Address</th><th></th>
  </tr>

  <% @walks.each do |walk| %>
  <tr>
    <td><%= link_to walk.pet.name, walk_path(walk) %></td>
    <td><%= walk.pickup_window %></td>
    <td>
      <%= link_to walk.pet.owner.address, "https://www.google.com/maps/place/#{walk.pet.owner.address.gsub(' ', '+')},+#{walk.pet.owner.zip_code}", target: '_blank' %><br>
      <%= "#{walk.pet.owner.zip_code} (#{walk.pet.owner.neighborhood})" %>
    </td>
  </tr>
  <% end %>

</table>
<% else %>
<h1>No walks for today!</h1>
<%= link_to 'Add New Walk', new_walk_path %>
<% end %>
