<div class="w3-container w3-padding-32">
  <div class="w3-card-4 w3-round-large" style="max-width:700px; margin:auto;">

    <header class="w3-container w3-center w3-black w3-padding-large w3-round-top-large">
      <% if defined?(image_tag_html) && image_tag_html.present? %>
        <%= image_tag_html.html_safe %>
      <% end %>
      <h1 class="w3-xxlarge"><%= title %></h1>
      <% if defined?(subtitle) && subtitle.present? %>
        <p class="w3-medium w3-text-light-grey"><%= subtitle %></p>
      <% end %>
    </header>

    <div class="w3-container w3-padding-24">
      <% attributes.each_with_index do |attr, index| %>
        <% if attr[:value].present? || (defined?(show_blank_values) && show_blank_values) %>
          <div class="w3-row w3-padding-small profile-attribute-row">
            <div class="w3-col m4 l3">
              <strong class="w3-text-grey"><%= attr[:label] %>:</strong>
            </div>
            <div class="w3-col m8 l9">
              <%= attr[:value] %>
            </div>
          </div>
          <% if index < attributes.select { |a| a[:value].present? || (defined?(show_blank_values) && show_blank_values) }.size - 1 %>
            <hr class="profile-hr-mobile">
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% if defined?(edit_path) && edit_path.present? %>
      <footer class="w3-container w3-center w3-light-grey w3-padding-16 w3-round-bottom-large">
        <%= link_to "Edit #{resource_name.to_s.humanize.singularize}", edit_path, class: "w3-button w3-black w3-round-large w3-hover-dark-grey" %>
      </footer>
    <% end %>
  </div>
</div> 