<!DOCTYPE html>
<html>
  <head>
    <title>Oh My Dog - Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  </head>


  <body class="w3-mobile">
    <div  class="w3-bar w3-black topnav">
        <% if logged_in? %>
        <nav>
          <a class="w3-bar-item" href="/users">Users</a>
          <a class="w3-bar-item" href="/owners">Owners</a>
          <a class="w3-bar-item" href="/pets">Pets</a>
          <a class="w3-bar-item" href="/walks">Walks</a>
          <a class="w3-bar-item" href="/logout">Log Out</a>
        </nav>
        <% end %>
      </div>

    <%= yield %>
    <br><br>

    <% if logged_in? %>
      <div class="w3-bar w3-center w3-light-grey">
        <span class="w3-small"><em><%= "Logged in as #{current_user.name} (#{current_user.email})" %></em></span>
      </div>
    <% end %>

  </body>

</html>
